<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% for event in events %}
        <div class="event">
            <h2>{{ event.name }}</h2>
            <a href="{{url_for('events',id=event.id)}}"><span>Go to</span></a>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>