<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Welcome Home</h1>
        </div>
        <div class="buttons">
            <div class="btn">
                <a href="{{url_for('login')}}"><button id="logout-btn">log in</button></a>
            </div>
            <div class="btn">
                <a href="{{url_for('signup')}}"><button id="home-btn">sign up</button></a>
             </div>     
        </div>
    </div>
</body>

</html>